<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/index.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo">

            </div>
            <div class="menu">
                <div class="bot1">
                    <a href="/jogos">
                        <button>
                            Jogos anteriores
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="cont">

            <div class="jogos" id="jogos">
            </div>

            <div class="res" id="res">
                <div class="res__content">
                    <div id="res_cont">
                        
                    </div>
                    <a href="#" class="res__close">&times;</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>