<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="../static/css/jogos.css">
    <script src="../static/js/jogos.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo">

            </div>
            <div class="menu">
                <div class="bot1">
                    <a href="/">
                        <button>
                            Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="temp">
                <div>
                    <!--
                        <label>
                            Temporada:
                            <select name="Temporada" id="temporada">
                                
                            </select>
                        </label>
                    -->
                </div>
                <div>
                    <div>
                        <label for="quantidade-linhas">Quantidade de Linhas por Página:</label>
                        <select id="quantidade-linhas">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div id="paginacao">
                        <button id="pagina-anterior">Página Anterior</button>
                        <button id="pagina-seguinte">Página Seguinte</button>
                    </div>
                </div>
            </div>
            <div class="tabela">
                <div>
                    <table class="res" id="tabela-dados">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Match Up</th>
                                <th>Game Date</th>
                                <th>W/L</th>
                                <th>PTS</th>
                                <th>FGM</th>
                                <th>FGA</th>
                                <th>FG%</th>
                                <th>3PM</th>
                                <th>3PA</th>
                                <th>3P%</th>
                                <th>FTM</th>
                                <th>FTA</th>
                                <th>FT%</th>
                                <th>OREB</th>
                                <th>DREB</th>
                                <th>REB</th>
                                <th>AST</th>
                                <th>STL</th>
                                <th>BLK</th>
                                <th>TOV</th>
                                <th>PF</th>
                                <th>+/-</th>
                                <th>a.Team</th>
                                <th>a.Match Up</th>
                                <th>a.Game Date</th>
                                <th>a.W/L</th>
                                <th>a.PTS</th>
                                <th>a.FGM</th>
                                <th>a.FGA</th>
                                <th>a.FG%</th>
                                <th>a.3PM</th>
                                <th>a.3PA</th>
                                <th>a.3P%</th>
                                <th>a.FTM</th>
                                <th>a.FTA</th>
                                <th>a.FT%</th>
                                <th>a.OREB</th>
                                <th>a.DREB</th>
                                <th>a.REB</th>
                                <th>a.AST</th>
                                <th>a.STL</th>
                                <th>a.BLK</th>
                                <th>a.TOV</th>
                                <th>a.PF</th>
                                <th>a.+/-</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>